<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new wtf_forms</title>
</head>
<body>
    <form action="#" method="post">
        <fieldset>
            <legend>User Input Form</legend>
            {{form.csrf_token}}
            <div>
                {{form.fname.label}}:{{form.fname}}<br/>
                {{form.fname.label}}:{{form.fname}}<br/>
                {{form.fname.label}}:{{form.fname}}<br/>
                {{form.submit}}

            </div>
        </fieldset>
    </form>

</body>
</html>